<!DOCTYPE hrml>
<html>
  <head>
    <title>Patryk Sowa - Developer Batyskaf</title>
    <link rel="stylesheet" href="css/application.css">
  </head>
  <body>
<div class="tresc_noscroll">
    <div id="omnie_top">
      <div id="omnie_portret_container"><img src="app/assets/images/ja.jpg"id="omnie_portret"></div>
      <div id="omnie_skrot">
        <h1>Patryk Sowa</h1>
        <h2>








        </h2>
      </div>
      <div id="omnie_logo_container"><img src="images/logo.png" id="omnie_logo"></div>
    </div>
    <div id="omnie_bottom">
      <div class="omnie_text_bottom">
        <h1>Języki</h1>
        <ul class="lista">
            <li>C#, Java</li>
            <li>C, C++</li>
            <li>Ruby</li>
            <li>JavaScript</li>
            <li>Python</li>
        </ul>
      </div>
      <div class="omnie_text_bottom">
        <h1 id="tytul_index">Frameworki</h1>
        <ul class="lista">
            <li>Rails</li>
            <li>Wordpress</li>
            <li>Discord.js</li>
        </ul>
      </div>
      <div class="omnie_text_bottom">
        <h1 id="tytul_index">Narzędzia</h1>
        <ul class="lista">
            <li>Blender</li>
            <li>Unity</li>
            <li>GitHub</li>
        </ul>
       </div>
    </div>
</div>
  </body>

</html>
